.b_r {
	display: flex;
	justify-content: space-between;
	align-items: center;

	width: 1110px;
}

@media (max-width: 1110px){
	.b_r {
		flex-direction: column;
		justify-content: flex-start;
	}

	.request {
		margin-top: 20px;
	}
}

.big_rec {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;	
}

.bott_inscrip {
	font-family: "Century Gothic";	
	font-size: 24px;
	font-weight: 600;
	color: white;

	width: max-content;
	height: 29px;
}

.i_re {
	background: #F7654A;
	height: 181px; 

	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 150px;
}

@media (max-width: 1110px){
	.i_re {
		padding: 20px 0;
		height: auto;
	}

	.big_rec {
		align-items: center;
	}
}

.request {
	width: max-content;
	height: 49px;
	background: white;

	padding: 14px 30px;

	display: flex;
	justify-content: center;
	align-items: center;

	user-select: none;
	cursor: pointer;
}

.top_inscrip {
	font-family: "Century Gothic";	
	font-size: 48px;
	font-weight: 600;
	color: white;
   
    margin-bottom: 20px;
    width: max-content;
    height: 57px;
}

.words {
	width: max-content;
	height: 21px;

	font-family: "Century Gothic";	
	font-size: 14px;
	font-weight: 700;
	color: black;
	margin-left: 15px;
}