.descript_container {
	display: flex;
	align-items: center;
	justify-content: space-around;

	width: 1110px;
	height: 681px;

    margin-top: 60px;

}

.descript_container > .column > .pic {
	cursor: pointer;
}