.descr {
	width: 350px;
	height: 83px;

	font-family: "Century Gothic";
	font-style: normal;
	font-size: 16px;
	color: #999999;

	display: flex;
	justify-content: flex-start;
	align-items: flex-start;

	margin-top: 20px;
}