.type {
	width: 142px;
	height: 29px;

	font-family: "Century Gothic";
	font-style: normal;
	font-size: 24px;
	font-weight: 600;

	display: flex;
	justify-content: flex-start;

	color: #404149;

	margin-top: 15px;
}