.req {
	width: 255px;
	height: 29px;

	display: flex;
	justify-content: center;
	align-items: flex-start;

	color: gray;

	font-family: "Century Gothic";
	font-weight: 600;
	font-size: 24px;

	margin-top: 25px;
}