.block-container {
	display: flex;
	width: 1110px;
	min-height: 300px;
	background: #F7F7F7;
	align-items: center;
	justify-content: space-around;

	z-index: 1;

	padding: 57px 130px;

    margin-top: -150px;
}