.end_rec {
	width: 1110px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.phr_s {
	width: max-content;
	height: 22px;

	font-family: "Century Gothic";
	font-size: 16px;

	color: white;
}