.square {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	width: 350px;
	height: 250px;

	background: #F7F7F7;

	margin-right: 30px;
	margin-bottom: 30px;


}