@import url("PriceList/price_list_style.css");

@import url("TopTitle/top_title_style.css");

@import url("Descript/descript_style.css");

@import url("BigRectangle/big_rec_style.css");

@import url("Range/range_style.css");

@import url("Pies/pic_pir.css");

@import url("Answers/answers_style.css");

@import url("GrayRectangle/gray_rect_style.css");

@import url("Reviwe/reviwe_style.css");

@import url("OrangeRectangle/orange_style.css");

@import url("Contacts/contacts_style.css");

@import url("End/end_style.css");

html {
	overflow-y: overlay;
}

body {
	margin: 0;
	overflow-x: hidden;
}

.end {
	height: 82px;
	background: #404149;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 150px;
}

.contacts {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.orange_rect {
	height: 181px;
	background: #F7654A;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 150px;

}

.space {
	width: 1110px;
}


.rev {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}


.gray_rect {
	height: 364px;
	background: #404149;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 150px;
}

.column-main {
	width: 1110px;
}

.questions {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}


.bblock{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.range {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

* {
	box-sizing: border-box;
}

/*@media (min-width: 376px) and (max-width: 1024px) {
	html {
		max-width: 1024px
	}
}


@media (max-width: 375px) {
	html {
		max-width: 375px
	}
}*/